**Elements of Structured Data**

Types of data in general:

---> Numerical data: Continuous(in interval ranges) and discrete

---> Categorical data: Binary and ordinal(contain some order in it)

1. Numerical data - Data that are expressed on a numeric scale.

  1.1 Continuous data: Data that can take on any value in an interval. 
  1.2 Discrete data: Data that can take on only integer values, such as counts. 

2. Categorical data - Data that can take on only a specific set of values representing a set of possible
                      categories. 
                      
  2.1 Binary: A special case of categorical data with just two categories of values, e.g., 0/1,
              true/false.
  2.2 Ordinal: Categorical data that has an explicit ordering.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Numeric data
# create a dataframe
data = {
        'age': [12, 15, 30, 45, 20]
        }

df = pd.DataFrame(data)

print (df)

   age
0   12
1   15
2   30
3   45
4   20

In [ ]:
#How to know the data type of a column?
print (df.dtypes)

age    int64
dtype: object

In [ ]:
#creating a dataframe for continuous data
data1 = {
        'movie': [1, 2, 3, 4, 5],
        'rating': [4.2, 5, 3.5, 2, 3]
       }
df = pd.DataFrame(data1)
df.head(3)

   movie  rating
0      1     4.2
1      2     5.0
2      3     3.5

In [ ]:
#How to know the data type of a data?
print (df.dtypes)

movie       int64
rating    float64
dtype: object

In [ ]:
#creating a dataframe for categorical data and ordinal data
d1 = { 'name': ['John', 'Mary', 'Steve', 'Bob', 'Alice'],
       'gender' : ['Male', 'Female', 'Male', 'Male', 'Female']
      }
df = pd.DataFrame(d1)
df.head(3)

    name  gender
0   John    Male
1   Mary  Female
2  Steve    Male

In [ ]:
#How to know the data type of a data?
print (df.dtypes)

name      object
gender    object
dtype: object

In [ ]:
#creating a dataframe for categorical data and binary data
d1 = { 'name': ['John', 'Mary', 'Steve', 'Bob', 'Alice'],
      'available' : [True, False, True, True, False]
      }
df = pd.DataFrame(d1)
#How to know the data type of a data?
print (df.dtypes)

name         object
available      bool
dtype: object

In [ ]:
#creating a dataframe for Categorical data that has an explicit ordering
d1 = { 'name': ['John', 'Mary', 'Steve', 'Bob', 'Alice'],
      'age' : [12, 15, 20, 25, 30]
      }
df = pd.DataFrame(d1)
#How to know the data type of a data?
print(df.dtypes)

name    object
age      int64
dtype: object